# Unity
UnityProject/UnityProject-csharp.sln
UnityProject/UnityProject.sln
UnityProject/UnityProject.userprefs
UnityProject/UnityProject.sln
UnityProject/UnityProject-csharp.sln
UnityProject/UnityProject.suo
UnityProject/Assembly-CSharp.csproj
UnityProject/Assembly-CSharp.pidb
UnityProject/Assembly-CSharp-Editor.csproj
UnityProject/Assembly-CSharp-Editor.pidb
UnityProject/Assembly-CSharp-Editor-vs.csproj
UnityProject/Assembly-CSharp-firstpass.csproj
UnityProject/Assembly-CSharp-firstpass.pidb
UnityProject/Assembly-CSharp-firstpass-vs.csproj
UnityProject/Assembly-CSharp-vs.csproj
UnityProject/Assembly-UnityScript-firstpass.pidb
UnityProject/Assembly-UnityScript-firstpass.unityproj
UnityProject/Assembly-UnityScript-firstpass-vs.unityproj
UnityProject/Assembly-UnityScript.unityproj
UnityProject/Assembly-UnityScript-vs.unityproj
UnityProject/Assembly-UnityScript.pidb

UnityProject/Library/assetDatabase3
UnityProject/Library/AssetServerCacheV3
UnityProject/Library/assetservercachev3
UnityProject/Library/AssetVersioning.db
UnityProject/Library/expandedItems
UnityProject/Library/FailedAssetImports.txt
UnityProject/Library/guidmapper
UnityProject/Library/ScriptMapper

UnityProject/Temp/*
UnityProject/Library/*
UnityProject/Library/cache/*
UnityProject/Library/metadata/*
UnityProject/obj/*
*.svd
 
!UnityProject/Library/*.asset
!UnityProject/Library/AssetImportState
!UnityProject/Library/BuildPlayer.prefs
!UnityProject/Library/unity default resources
!UnityProject/Library/unity editor resources
/UnityProject/Library/InspectorExpandedItems.asset
/UnityProject/ProjectSettings/EditorBuildSettings.asset
/UnityProject/Assets/saves
/UnityProject/Assets/saves.meta
